.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.btn-user {
    cursor: pointer;
    margin-bottom: 15px; 
    padding: 10px; 
    color:white; 
    width: 250px;
    border-radius: 20px; 
    background-color: blueviolet;
    text-align: center;
}